<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retail.shop.mapper.SkuAttrValueMapper">

    <select id="getSkuAttrValuesAsStringList" resultType="java.lang.String">
        SELECT
            CONCAT( attr_name, "：", attr_value )
        FROM
            retail_sku_attr_value
        WHERE
            sku_id = #{skuId}
    </select>

</mapper>
