<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retail.shop.mapper.SkuMapper">

    <select id="listGood" resultType="com.retail.common.domain.vo.GoodVo">
        SELECT
            s.*,
            GROUP_CONCAT( sv.attr_value ) attr_value,
            rc.`name` classified_name,
            rb.brand_name
        FROM
            retail_sku s
                LEFT JOIN retail_sku_images si ON s.id = si.sku_id
                LEFT JOIN retail_sku_attr_value sv ON sv.sku_id = s.id
                LEFT JOIN retail_classified rc ON rc.id = s.classified_id
                LEFT JOIN retail_brand rb ON rb.id = s.brand_id
        GROUP BY
            sv.sku_id
    </select>
</mapper>
