<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retail.shop.mapper.StoreCouponMapper">


    <select id="storeCouponList" resultType="com.retail.shop.domain.StoreCouponEntity">
        	SELECT * from retail_store_coupon a left join retai_user_coupon_center b on b.coupon_id=a.id where b.user_id= #{id}
    </select>
</mapper>
