<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retail.user.mapper.PowerUserMapper">

    <select id="list" resultType="com.retail.user.domain.vo.UserEntryPowerVo">
            SELECT
        a.*,
        GROUP_CONCAT( c.NAME ) AS power_name,
        GROUP_CONCAT( c.ID ) AS power_id
    FROM
        retail_user a
        LEFT JOIN retail_power_user b ON a.id = b.user_id
        LEFT JOIN retail_power c ON b.power_id = c.id
    GROUP BY
        username
    </select>
</mapper>
